<!DOCTYPE html>
<html>
    <head>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <!-- <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"> -->
        <link rel="stylesheet" type="text/css" href="styles/index.css">
        <title>Weather App For Dogs</title>
    </head>
    <body>
        <div class="copy">
          <h1>Current Location:</h1>
          <h2 class="location"></h2>
          <div class="longlat"></div>
          <div>
            <p>City & State</p>
            <form>
              <input type="text" name="location"></input>
              <input type="submit" class="submit" value="Submit">
            </form>
          </div>
          <div class="message">
          </div>
          <p class="weather-report">
          </p>
        </div>
        <script type="text/javascript" src="scripts/index.js"></script>
    </body>
</html>
